::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: #04838f;
  }

  background-color: #04838f;
  color: #fff;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 60px;
}

::ng-deep .chart-legend .legend-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .legend-wrap {
  width: 100% !important;
}
