
<ng-container *ngIf=" olympicsData; else loading">
    <div class="pie-chart__container">

        <ngx-charts-pie-chart
        [results]="data"
       [view]="view"
        [legend]="showLegend"
        [legendTitle]="'Countries'"
        [legendPosition]="legendPosition"
        [explodeSlices]="explodeSlices"
        [labels]="showLabel"
        [tooltipText]="customTooltipText"
        (select)="handleClic($event)"
        
        ></ngx-charts-pie-chart>
    </div>
</ng-container>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>
  