
<ng-container *ngIf="olympics$ | async as olympics; else loading">
        <header>
            <h2>Medals per Country</h2>
            <div class="header-infos">
                <ng-container *ngIf="olympics[0]?.participations  as participations; else loading">
                    <div class="header-infos__number-of-jos">
                        <h3>Number of JOs</h3>
                        <p> {{ participations.length }} </p>
                        
                    </div>
                    <div class="header-infos__number-of-countries">
                        <h3>Number of countries</h3>
                        <p>{{ (olympics$ | async)?.length }}</p>
                        
                    </div>
                </ng-container>
            </div>
        </header>
</ng-container>
<div class="pie-container">
    <app-pie-chart-ngx *ngIf="olympics$ | async as olympicsData" [olympicsData]="olympicsData"></app-pie-chart-ngx>

</div>


<ng-template #loading>
    <app-notification></app-notification>
</ng-template>
  