h2 {
  font-weight: 200;
  padding: 2px 5px;
  font-size: 24px;
  color: #fff;
  background-color: #04838f;
  display: block;
  width: 250px;
  text-align: center;
  border-radius: 5px;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-infos {
  display: flex;
  gap: 40px;
  @media screen and (max-width: 600px) {
    gap: 10px;
  }
  h3,
  p {
    padding: 0;
    margin: 0;
  }
  h3 {
    font-weight: 300;
    color: #707070;
    font-size: 14px;
  }
  p {
    font-weight: 700;
  }

  &__number-of-jos,
  &__number-of-countries {
    padding: 5px 15px;
    text-align: center;
    border: solid 2px #04838f;
    border-radius: 8px;
  }
}

.notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .pie-label {
  font-size: 20px !important;
  margin: 0 5px !important;
  padding: 0 5px !important;
  letter-spacing: 1.5px;
  @media screen and (max-width: 700px) {
    font-size: 14px !important;
  }
}
